<!DOCTYPE html>
<html lang="en">
<head th:insert="normal/fragmants.html :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Oders</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div th:insert="normal/fragmants.html :: nav"></div>
<div th:fragment="sideMune"></div>
<div class="wrapper d-flex" >
    <div th:insert="normal/fragmants.html :: sideMune"></div>
    <div class="content" style="color: white;" >
        <main>
            <div class="container-fluid">
                <div class="row ml-3 text-center">
                    <div class="col-md-12 my-3">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 bg-mattBlackLight px-3 py-3 text-center" >
                                <h4 class="mb-2">Add Orders</h4>
                                <form action="" th:object="${orders}"
                                      method="post"
                                      th:action="@{/user/add-orders}" >

                                    <div class="input-group row">
                                        <div class="col-md-4">
                                            <select class="form-control form-select form-select-sm" id="dropDownList" name="category">
                                                <option  th:each="category:${categories}" th:value="${category.cId}" th:text="${category.catName}"></option>
                                            </select>
                                        </div>
                                        <input required type="number"  id="catName" name="price" placeholder="Enter price here" class="form-control">
                                    </div>
                                    <div class="input-group row pt-4">
                                        <div class="col-md-4 ">
                                            <input id="startDate" name="date" placeholder="Date select"/>
                                        </div>
                                            <input required type="number"  id="place" name="place" placeholder="Enter place here" class="form-control">
                                    </div>

                                    <div class="container mt-3">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#startDate').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: today,
        maxDate: function () {
            return $('#endDate').val();
        }
    });
    $('#endDate').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: function () {
            return $('#startDate').val();
        }
    });
</script>

</body>
</html>