<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title ></title>
</head>
<body>
<section class="banner d-flex justify-content-center" style="padding-top: 350px">
    <div class="text-center " >
        <h1 class="font-weigth-bold">Ak-Talaa Taxi</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae perspiciatis, sunt corporis voluptatem tempora unde ipsa reiciendis</p>
        <button class="btn bg-primary btn-lg text-white ">Get Start</button>
    </div>

</section>
</body>
</html>