<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{/css/style.css}"  rel="stylesheet">
    <link href="/css/style.css">
    <title th:text="${title}"></title>
</head>
<body>
<section>
<div class="container bcontent" style="background-color: white">
    <h2 style="text-align: center" th:text="${category}">Бишкектен : Ак-Талаага</h2>

    <div class="card mb-3" style="margin:auto; width: 80%;" th:each="o:${orders}">
        <div class="row no-gutters">
            <div class="col-sm-7">
                <div class="card-body">
                    <h3 class="card-title" th:text="${o.user.carName}">Mercedes Benz S Class</h3>
                    <p class="card-text" ><b>Driver:</b> <span th:text="${o.user.name}"> Kylym</span><b>    Phone Number:   </b><span th:text="${o.user.phoneNumber}"></span> </p>
                    <p class="card-text" ><b>Date:</b> <span th:text="${o.date}"> 24.03.2022</span> </p>
                    <p class="card-text"><b>цена:</b><span th:text="${o.price}"></span> сом</p>
                    <p><b>место:</b><span th:text="${o.place}"></span></p>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="card-img" src="" th:src="@{/img/{link}(link=${o.user.imageUrl})}" alt="car img">
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>