<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title ></title>
</head>
<body>
<section>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 ">
        <div class="my-card " style="margin-top: 30px;margin-bottom: 30px;">

            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                <p class="text-center" th:text="${session.message.content}"></p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>
          <h3 class="text-center">Register Here !!</h3>
            <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input class="form-control"
                           th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                           type="text" id="name"
                           name="name" placeholder="Enter here"
                           required th:value="${user.name}"/>
                    <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
                    </div>

                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Enter here" required th:value="${user.email}">
                </div>
                <div class="form-group">
                    <label for="password">Your Password</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Enter here" required th:value="${user.password}">
                </div>
                <div class="form-group">
                    <textarea name="about"  placeholder="Enter car information" rows="7" class="form-control"required th:text="${user.about}"></textarea>
                </div>
                <div class="form-group form-check text-center">
                    <input type="checkbox" name="agreement" class="form-check-input" id="agreement">
                    <label for="agreement">Accept terms and conditions</label>
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn  bg-primary text-white">Submit</button>
                    <button type="reset" class="btn btn-warning ">Reset</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</section>
</body>
</html>