<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=".\css\style.css">
    <link rel="stylesheet" href="path\to\font-awesome\css\font-awesome.min.css">
    <title th:text="${title}">Ak Talaa Taxi</title>
    <script rel=".\js\index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Ak-Talaa Taxi</h3>
                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                            <p class="text-center" th:text="${session.message.content}"></p>
                            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                        </div>
                        <form class="px-md-2" method="post"action="" th:object="${user}" th:action="@{/do_register}">
                            <div class="form-outline ">
                                <label class="form-label"  for="firstName" >First Name</label>
                                <input type="text" id="firstName" name="firstName"
                                       th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid':''}"
                                       class="form-control" placeholder="Enter here"
                                       th:value="${user.firstName}"/>
                                <div class="invalid-feedback" th:each="e : ${#fields.errors('firstName')}" th:text="${e}">
                                </div>
                            </div>
                            <div class="form-outline ">
                                <label class="form-label"  for="lastName">last Name</label>
                                <input type="text" id="lastName" name="lastName"
                                       class="form-control" placeholder="Enter here"
                                       th:value="${user.lastName}"
                                />
                            </div>
                            <div class="form-outline ">
                                <label class="form-label"  for="email">Email</label>
                                <input type="email" id="email" name="email"
                                       th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"
                                       class="form-control" placeholder="Enter here"
                                       th:value="${user.email}"
                                />
                                <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
                                </div></div>
                            <div class="form-outline ">
                                <label class="form-label"  for="email">Car Information </label>
                                <input type="text" id="carInfo" name="carInfo" class="form-control"
                                       required
                                       th:classappend="${#fields.hasErrors('carInfo') ? 'is-invalid':''}"
                                       placeholder="Enter here"
                                       th:value="${user.carInfo}"/>
                                <div class="invalid-feedback" th:each="e : ${#fields.errors('carInfo')}" th:text="${e}">
                                </div></div>

                            <div  style="margin-top: 20px">
                                <div class="row">
                                    <div class="form-outline col-md-6" style="width: 100%">
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" id="password"
                                               required
                                               th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}"
                                               th:value="${user.password}"/>

                                        <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                                        <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}">

                                        </div></div>
                                    <div class="form-outline col-md-6"style="width: 100%">
                                        <label for="phone">Phone Number :</label>
                                        <input type="text" name="phone" id="phone"
                                               required
                                               th:classappend="${#fields.hasErrors('phone') ? 'is-invalid':''}"
                                               th:value="${user.phone}"/>
                                        <div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}">
                                        </div></div>
                                </div>
                            </div>
                            <div class="text-center " style="margin-top: 30px">
                                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>

</html>
